<div class="img-thumbnail">
    <div data-url="{{user.id}}" style="background-image:url({{photos.0.src}})" id="u{{user.id}}" onclick="go(this);" class="">
        <img class="best-photo" src="{{photos.0.src}}"/>
        <img src="{{photos.1.src}}" class="preload"/>
        <div class="info">KEK</div>
    </div>
</div>